@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}
.logo {
  width: 3rem;
}

.navbg {
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 20px 30px #eeeeee;
}

.navcont {
  width: 35rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navele {
  font-weight: 500;
  font-size: larger;
}

.card {
  margin-top: 2rem;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

.card-title {
  font-size: large;
}

.card-body {
  height: fit-content;
  width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  width: fit-content;
}

.card-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: #e7e7e7 solid 1px;
  padding-left: 7.5rem;
}

.card-title {
  font-size: larger;
}
.card-title:hover {
  color: rgb(13, 110, 253);
}

.card-text {
  color: rgb(120, 120, 120);
  font-size: small;
}

.card-imgh {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-img {
  width: fit-content;
  height: fit-content;
  margin-left: 6rem;
}

img {
  border-radius: 1rem;
  width: 14rem;
  margin-right: 22rem;
}
